.wjs_header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}
.wjs_header .row {
  height: 100%;
}
.wjs_header .row a {
  display: inline-block;
}
.wjs_header .row > div:nth-of-type(-n+3) {
  border-right: 1px solid #ccc;
}
.wjs_header .row > div:nth-of-type(-n+3) > .wjs_code > img {
  display: none;
  position: absolute;
  top: 49px;
  left: 50px;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  border-top: none;
  z-index: 999;
}
.wjs_header .row > div:nth-of-type(-n+3) > .wjs_code:hover > img {
  display: block;
}
.wjs_header .row > div:nth-last-of-type(1) > .btn-danger {
  background-color: #e92322;
  border-color: #e92322;
}
.wjs_header .row > div:nth-last-of-type(1) > .btn {
  padding: 3px 8px;
}
.wjs_header .row > div:nth-last-of-type(1) > .btn-link {
  color: #333;
}
.wjs_header .row > div:nth-last-of-type(1) > .btn-link:hover {
  text-decoration: none;
}
.wjs_nav {
  margin-bottom: 0;
}
.wjs_nav .navbar-brand {
  height: 80px;
  line-height: 50px;
}
.wjs_nav .navbar-nav > li > a {
  font-size: 16px;
  line-height: 50px;
}
.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li a:focus {
  color: #777;
  border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active a:focus,
.wjs_nav .navbar-nav > .active a:hover {
  background-color: transparent;
}
.wjs_nav .collapsed {
  margin-top: 23px;
}
.wjs_nav .navbar-brand span:first-of-type {
  color: #e92322;
  font-size: 40px;
}
.wjs_nav .navbar-brand span:last-of-type {
  color: #333;
  font-size: 40px;
}
.wjs_banner {
  margin-top: 5px;
}
.wjs_banner .carousel-inner .item .mobileImg {
  width: 100%;
}
.wjs_banner .carousel-inner .item .mobileImg > img {
  width: 100%;
  display: block;
}
.wjs_banner .carousel-inner .item .pcImg {
  display: block;
  background-position: center center;
  height: 410px;
  -webkit-background-size: cover;
  background-size: cover;
}
.row a {
  display: block;
}
.wjs_info {
  padding: 30px;
}
.wjs_info .row a {
  display: block;
  padding: 0 15px;
  margin-top: 20px;
}
.wjs_info .row a .wjs_icon_E900 {
  font-size: 30px;
}
.wjs_info .row a .media-body h4 {
  font-size: 18px;
  font-weight: 500;
}
.wjs_info .row a .media-body p {
  font-size: 14px;
}
.wjs_reverse {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.wjs_reverse .container {
  height: 60px;
  line-height: 60px;
}
.wjs_reverse .container .row a {
  display: inline;
}
.wjs_reverse .container .row .col-sm-9 a:last-of-type {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}
.wjs_reverse .container .row .col-sm-9 a:first-of-type:hover {
  color: #e92322;
}
.wjs_reverse .container .row .col-sm-3 a:hover {
  color: #e92322;
}
.wjs_product {
  background-color: #eee;
  padding: 20px;
}
.wjs_product .container .wrapper {
  width: 100%;
  overflow: hidden;
}
.wjs_product .container .tab-content .row .active {
  background-color: #e92322;
}
.wjs_product .container .tab-content .row .active .wjs_Pright b,
.wjs_product .container .tab-content .row .active .wjs_Pright sub,
.wjs_product .container .tab-content .row .active .wjs_Pright p {
  color: #fff;
}
.wjs_product .container .tab-content .row .active .wjs_Pleft {
  color: #fff;
  position: relative;
}
.wjs_product .container .tab-content .row .active .wjs_Pleft::before {
  content: "\e915";
  font-family: "wjs";
  position: absolute;
  top: -5px;
  left: 0;
  font-size: 25px;
}
.wjs_product .container .tab-content .wjs_Pbox {
  margin-top: 25px;
  height: 150px;
  position: relative;
  background-color: #fff;
}
.wjs_product .container .tab-content .wjs_Pbox .wjs_Pleft {
  margin-right: 100px;
  font-size: 12px;
}
.wjs_product .container .tab-content .wjs_Pbox .wjs_Pleft > p {
  font-size: 16px;
  text-align: center;
}
.wjs_product .container .tab-content .wjs_Pbox .wjs_Pleft .row div:nth-of-type(even) {
  text-align: right;
  padding-left: 18px;
}
.wjs_product .container .tab-content .wjs_Pbox .wjs_Pleft .row div:nth-of-type(odd) {
  text-align: left;
  padding-left: 18px;
}
.wjs_product .container .tab-content .wjs_Pbox .wjs_Pright {
  position: absolute;
  right: -5px;
  top: 0;
  border-left: 1px dashed #ccc;
  text-align: center;
  height: 150px;
  width: 100px;
  padding-top: 30px;
}
.wjs_product .container .tab-content .wjs_Pbox .wjs_Pright .tip {
  position: absolute;
  top: 18px;
  right: 0px;
  width: 100%;
}
.wjs_product .container .tab-content .wjs_Pbox .wjs_Pright .tip span {
  cursor: pointer;
}
.wjs_product .container .tab-content .wjs_Pbox .wjs_Pright .tip span:first-of-type {
  color: #e92322;
  border: 1px solid #e92322;
}
.wjs_product .container .tab-content .wjs_Pbox .wjs_Pright .tip span:last-of-type {
  color: blue;
  border: 1px solid blue;
}
.wjs_product .container .tab-content .wjs_Pbox .wjs_Pright::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #eee;
  position: absolute;
  border-radius: 50%;
  left: -5px;
  top: -5px;
  box-shadow: 0 -1px 1px #ddd inset;
}
.wjs_product .container .tab-content .wjs_Pbox .wjs_Pright::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #eee;
  position: absolute;
  border-radius: 50%;
  left: -5px;
  bottom: -5px;
  box-shadow: 0 -1px 1px #ddd inset;
}
.wjs_product .container .tab-content .wjs_Pbox .wjs_Pright b {
  font-size: 40px;
  color: #e92322;
}
.wjs_product .container .tab-content .wjs_Pbox .wjs_Pright sub {
  bottom: 0;
  color: #e92322;
}
.wjs_product .container .nav-tabs li {
  padding: 10px;
}
.wjs_product .container .nav-tabs li a {
  border: none;
}
.wjs_product .container .nav-tabs li a.active {
  border: none;
}
.wjs_news {
  padding: 20px;
  position: relative;
}
.wjs_news .wjs_title {
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  position: relative;
}
.wjs_news .wjs_title:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  position: absolute;
  bottom: -4px;
  right: -8px;
}
.wjs_news .wjs_circle .wjs_line {
  width: 1px;
  height: 330px;
  border-left: 1px dashed #e92322;
  position: absolute;
  left: 42px;
  top: 0;
}
.wjs_news .wjs_circle ul {
  border: none;
}
.wjs_news .wjs_circle ul li {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}
.wjs_news .wjs_circle ul li.avtive > a,
.wjs_news .wjs_circle ul li.avtive a:hover,
.wjs_news .wjs_circle ul li.avtive a:focus {
  border: none;
  background-color: #e92322;
}
.wjs_news .wjs_circle ul li a {
  width: 60px;
  height: 60px;
  background-color: #ccc;
  border-radius: 30px;
  border: none;
}
.wjs_news .wjs_circle ul li a:hover,
.wjs_news .wjs_circle ul li a:focus {
  background-color: #e92322;
}
.wjs_news .wjs_circle ul li a span {
  font-size: 30px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .wjs_news .wjs_circle ul > li {
    margin: 20px 0;
    width: 25%;
  }
}
.wjs_news .wjs_newslist {
  list-style: none;
}
.wjs_news .wjs_newslist li {
  line-height: 40px;
}
.wjs_partner {
  padding: 20px;
  background-color: #eee;
  text-align: center;
}
.wjs_partner h3 {
  text-align: center;
}
.wjs_partner ul {
  list-style: none;
  text-align: center;
  display: inline-block;
}
.wjs_partner ul li {
  float: left;
  margin-right: 20px;
}
.wjs_partner ul li .wjs_icon {
  font-size: 80px;
}
/*# sourceMappingURL=index.css.map */